// Header

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: var(--font-size-hamburger);
  z-index: 100000;
}

.logo {
  padding: 0 30px;
  margin-right: auto;
}

.hamburger {
  cursor: pointer;
  padding: 0 30px;
}

.nav-list{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--nav-color);
  
}

.nav-item{
  min-height: 60px;
  background-color: var(--hamburger-color);
  transition: all 0.5s;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  font-size: var(--font-size-hamburger);
}

.nav-item:hover,
.nav-item:focus {
  background-color: var(--hover-color);
}

.nav-link {
  padding: 0 30px;
}




// Hero section

.Hero{
  margin-top: 60px;
}








// Hero section
